[Unit]
Description=pocowebd the pocoweb rest daemon
Documentation=http://pocoweb.cis.lmu.de/documentation.php

[Service]
PIDFile=/var/run/pocowebd.pid
ExecStart=/usr/bin/powowebd /etc/pocowebd.d/config.ini

[Install]
WantedBy=?
