[Unit]
Description=pocowebd the pocoweb rest daemon (%i)
Documentation=http://pocoweb.cis.lmu.de/documentation.php
Requires=

[Service]
Type=simple
PIDFile=/var/run/pcwd.pid
ExecStart=/usr/bin/pcwd
Restart=true

[Install]
WantedBy=default.target
