**/*.o
**/*.a
**/*.so
**/*.d
lib/**
misc/**
tests/**
.git/**
.gitlab-ci.yml
.gitmodules
.gitignore
.travis.yml
.clang-format
pcwd
TAGS
Dockerfile
README.md
!misc/docker/pocoweb/
!LICENCE
!misc/scripts/md2html.sh