*.o
*.a
*.d
*.md
*.so
*/*.o
*/*.a
*/*.d
*/*.md
*/*.so
*/*/*.o
*/*/*.a
*/*/*.d
*/*/*.md
*/*/*.so
*/*/*/*.o
*/*/*/*.a
*/*/*/*.d
*/*/*/*.md
*/*/*/*.so
*/*/*/*/*.o
*/*/*/*/*.a
*/*/*/*/*.d
*/*/*/*/*.md
*/*/*/*/*.so
pcwd
TAGS
Dockerfile
.dockerignore
misc/docker/*
misc/docker/*/*
!misc/docker/pocoweb/*