**/*.o
**/*.a
**/*.so
**/*.d
lib/**
misc/**
tests/**
services/
.git/**
.gitlab-ci.yml
.gitmodules
.gitignore
.travis.yml
.clang-format
pcwd
TAGS
Dockerfile
services/**
README.md
!misc/scripts/startup.sh
