*.o
*.d
*.a
*~
.*
*.log
*.gitmodule
*.so
*.test
tags
pcwd
pcwc
config.ini
make/cache.make
vendor/*
tmp/*
ext/*
lib/*
frontend/public_html/js/config.js
db/tables.sql.tmp
misc/systemd/pocoweb.service
env
tests.log
profile-tmp.xml
