[submodule "modules/crow"]
	path = modules/crow
	url = https://github.com/finkf/crow
[submodule "modules/pugixml"]
	path = modules/pugixml
	url = https://github.com/zeux/pugixml
[submodule "modules/utfcpp"]
	path = modules/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "modules/sqlpp11"]
	path = modules/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "modules/sqlpp11-connector-mysql"]
	path = modules/sqlpp11-connector-mysql
	url = https://github.com/rbock/sqlpp11-connector-mysql.git
[submodule "modules/date"]
	path = modules/date
	url = https://github.com/HowardHinnant/date.git
[submodule "modules/base-n"]
	path = modules/base-n
	url = http://github.com/azawadzki/base-n
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = https://github.com/Tencent/rapidjson
