div.line-view {
	margin: 10px;
	/*border: 1px solid #ccc;*/
}

div.line-view:hover {
	/*background: lightgrey;*/
}

.affix {
	top: 5px;
}

a.line-anchor {
    display: block;
    position: relative;
    top: -250px;
    /*visibility: hidden;*/
}

input.corrected-line {
	background-color: lightgrey;
}
