div.line-view {
	margin: 10px;
	/*border: 1px solid #ccc;*/
}

div.line-view:hover {
	/*background: lightgrey;*/
}

.affix {
	top: 5px;
}

#page-header {
	background: white;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
}

.white-background {
	background: white;
}

a.line-anchor {
	display: block;
	position: relative;
	top: -60px;
	/*visibility: hidden;*/
}

.partially-corrected {
	background-color: #fcf8e3;
}

input.fully-corrected, div.fully-corrected {
	background-color: #dff0d8;
}

.affix {
	top: 0;
	width: 100%;
}

.affix + .container-fluid {
	padding-top: 70px;
}

a.invisible-link:link {
	text-decoration: none;
}

a.invisible-link:visited {
	text-decoration: none;
}

a.invisible-links:hover {
	text-decoration: none;
}

div.text-image-line {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

div.text-image-line:hover {
	box-shadow: 10px 10px 5px lightgrey;
	border-radius: 3px;
	/*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);*/
}

.line-input hidden {
		display: none
}

.line-text hidden {
		dispaly: none
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

span.underline {
		color: #ff0000;
		text-decoration: underline;
}

/* json formatting */
.pl-s {
		color: green
}
.pl-c1 {
		color: red
}
